[submodule "seanorama/dotfiles/dotbot"]
	path = seanorama/dotfiles/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "mathiasbynens/dotfiles"]
	path = mathiasbynens/dotfiles
	url = https://github.com/mathiasbynens/dotfiles
[submodule "anishathalye/dotfiles"]
	path = anishathalye/dotfiles
	url = https://github.com/anishathalye/dotfiles
