[submodule "seanorama/dotfiles/dotbot"]
	path = seanorama/dotfiles/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "mathiasbynens/dotfiles"]
	path = mathiasbynens/dotfiles
	url = https://github.com/mathiasbynens/dotfiles
[submodule "anishathalye/dotfiles"]
	path = anishathalye/dotfiles
	url = https://github.com/anishathalye/dotfiles
[submodule "seanorama/dotfiles/resources/solarized"]
	path = seanorama/dotfiles/resources/solarized
	url = https://github.com/altercation/solarized
[submodule "seanorama/dotfiles/.vim/bundle/vim-pathogen"]
	path = seanorama/dotfiles/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
